<div class="login_form register">
    <div class="page_header">
        <h2>Добавить вакансию</h2>
    </div>
    <form action="/admin_add_vacancy" method="post" enctype="multipart/form-data">
        <input type="text" name="vacancy_title" placeholder="Заголовок">
        <input type="number" name="vacancy_price" placeholder="ЗП">
        <textarea name="vacancy_description" id="" cols="30" rows="10" placeholder="Описание"></textarea>
        <select name="voivodeship" id="">
            <option value="">Воевудство</option>
            <option value="Варминьско-Мазурское">Варминьско-Мазурское</option>
            <option value="Великопольское">Великопольское</option>
            <option value="Западно-Поморское">Западно-Поморское</option>
            <option value="Куявско-Поморское">Куявско-Поморское</option>
            <option value="Лодзинское">Лодзинское</option>
            <option value="Люблинское">Люблинское</option>
            <option value="Любушское">Любушское</option>
            <option value="Мазовецкое">Мазовецкое</option>
            <option value="Малопольское">Малопольское</option>
            <option value="Нижнесилезское">Нижнесилезское</option>
            <option value="Опольское">Опольское</option>
            <option value="Подкарпатское">Подкарпатское</option>
            <option value="Подляское">Подляское</option>
            <option value="Поморское">Поморское</option>
            <option value="Свентокшиское">Свентокшиское</option>
            <option value="Силезское">Силезское</option>
        </select>
        <select name="city" onchange="add_new_city(this)">
            <option value="">Город</option>
            {{#each cities}}
                <option value="{{this.city}}">{{this.city}}</option>
            {{/each}}
            <option value="new">Добавить новый город</option>
        </select>
        <input class="hiden" type="text" name="new_city" id="new_city">
        <select name="work_type" id="" onchange="add_new_schedule(this)">
            <option value="">График</option>
            {{#each schedules}}
                <option value="{{this.schedule_type}}">{{this.schedule_type}}</option>
            {{/each}}
            <option value="new">Добавить новый график</option>
        </select>
        <input class="hiden" type="text" name="new_schedule" id="new_schedule">
        <select name="speciality" id="" onchange="add_new_speciality(this)">
            <option value="">Специальность</option>
            {{#each specialities}}
                <option value="{{this.speciality}}">{{this.speciality}}</option>
            {{/each}}
            <option value="new">Добавить новую специальность</option>
        </select>
        <input class="hiden" type="text" name="new_speciality" id="new_speciality">
        <select name="country" id="" onchange="add_new_country(this)">
            <option value="">Страна</option>
            {{#each countries}}
                <option value="{{this.country}}">{{this.country}}</option>
            {{/each}}
            <option value="new">Добавить новую страну</option>
        </select>
        <input class="hiden" type="text" name="new_country" id="new_country">
        <label for="company_logo">Логотип компании</label>
        <input type="file" name="company_logo">
        <label for="company_logo">Фотографии рабочего пространства</label>
        <input type="file" name="work_place_imgs" multiple>
        <button type="submit">Опубликовать</button>
    </form>
</div>