<div class="page vacancy">
    <div class="page_content">
        {{#each users}}
            <div class="each_vacancy">
                <div class="vacancy_info">
                    <div class="title left_vacancy_part">
                        <h3>{{this.full_name}}</h3>
                    </div>
                </div>
                <div class="vacancy_info">
                    <div class="each_vacancy_desceiption_text left_vacancy_part">
                        <p>email - {{this.email}}</p>
                        <p>Телефон - {{this.phone}}</p>
                        <p>Whatsapp - {{this.whatsapp_numb}}</p>
                        <p>Viber - {{this.viber_numb}}</p>
                        <p>Telegram - {{this.telegram_numb}}</p>
                        <p>Дата рождения - {{this.birthday}}</p>
                    </div>
                </div>
            </div> 
        {{/each}}
    </div>
</div>