<div class="page">
    <div class="left_part">
        <div class="news_block">
            <div class="page_header white_header">
                <h2>Последние новости</h2>
            </div>
            {{#each news}}
                <div class="each_vacancy">
                    <div class="vacancy_info">
                        <div class="title left_vacancy_part">
                            <h3>{{this.title}}</h3>
                        </div>
                    </div>
                    <div class="vacancy_info">
                        <div class="each_vacancy_desceiption_text left_vacancy_part">
                            <p>{{this.short_news_description}}...</p>
                        </div>
                    </div>
                    <div class="vacancy_info">
                        <div class="btns">
                            <div class="vacancy_submit">
                                <a href="/news/{{this.id}}">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="page_content">
        <div class="page_header ">
            <h2>Актуальные предложения</h2>
        </div>
        {{#if is_more}}
            <div class="each_vacancy main">
            <div class="vacancy_info">
                <div class="title left_vacancy_part">
                    <h3>{{main_vacancy.vacancy_title}}</h3>
                </div>
                <div class="price">
                    <h3>{{main_vacancy.vacancy_price}} Zł</h3>
                </div>
            </div>
            <div class="vacancy_info">
                <div class="each_vacancy_desceiption_text left_vacancy_part">
                    <p> <img src="{{main_vacancy.preview_img}}" alt=""> {{main_vacancy.short_decription}}<a class="show_more" href="/vacancy/{{this.id}}">Показать больше</a></p>
                </div>
            </div>
            <div class="vacancy_info">
                <div class="date left_vacancy_part">
                    <p>Дата публикации: {{main_vacancy._date}}</p>
                </div>
                <div class="btns">
                    
                    <div class="vacancy_submit">
                        <a href="/vacancy/{{main_vacancy.id}}">Откликнуться</a>
                    </div>
                </div>
            </div>
            </div>
            {{#each sub_vacancies}}
                <div class="each_vacancy main adaptive">
                    <div class="vacancy_info">
                        <div class="title left_vacancy_part">
                            <h3>{{this.vacancy_title}}</h3>
                        </div>
                        <div class="price">
                            <h3>{{this.vacancy_price}} Zł</h3>
                        </div>
                    </div>
                    <div class="vacancy_info">
                        <div class="each_vacancy_desceiption_text left_vacancy_part">
                            <p> <img src="{{this.preview_img}}" alt=""> {{this.short_decription}}<a class="show_more" href="/vacancy/{{this.id}}">Показать больше</a></p>
                        </div>
                    </div>
                    <div class="vacancy_info">
                        <div class="date left_vacancy_part">
                            <p>Дата публикации: {{this._date}}</p>
                        </div>
                        <div class="btns">
                            <div class="vacancy_submit">
                                <a href="/vacancy/{{this.id}}">Откликнуться</a>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
            
            <div class="vacancy_row" alt="в случае если не адаптив">
                {{#each sub_vacancies}}
                    <div class="each_vacancy">
                        <div class="vacancy_info">
                            <div class="title left_vacancy_part">
                                <h3>{{this.vacancy_title}}</h3>
                            </div>
                            <div class="price">
                                <h3>{{this.vacancy_price}} Zł</h3>
                            </div>
                        </div>
                        <div class="vacancy_info">
                            <div class="each_vacancy_desceiption_text left_vacancy_part">
                                <p> <img src="{{this.preview_img}}" alt=""> {{this.short_decription}}<a class="show_more" href="/vacancy/{{this.id}}">Показать больше</a></p>
                            </div>
                        </div>
                        <div class="vacancy_info">
                            <div class="date left_vacancy_part">
                                <p>Дата публикации: {{this._date}}</p>
                            </div>
                            <div class="btns">
                            
                                <div class="vacancy_submit">
                                    <a href="/vacancy/{{this.id}}">Откликнуться</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{else}}
            {{#each vacancies}}
                <div class="each_vacancy">
                    <div class="vacancy_info">
                        <div class="title left_vacancy_part">
                            <h3>{{this.vacancy_title}}</h3>
                        </div>
                        <div class="price">
                            <h3>{{this.vacancy_price}} Zł</h3>
                        </div>
                    </div>
                    <div class="vacancy_info">
                        <div class="each_vacancy_desceiption_text left_vacancy_part">
                            <p> <img src="{{this.preview_img}}" alt=""> {{this.short_decription}}<a class="show_more" href="/vacancy/{{this.id}}">Показать больше</a></p>
                        </div>
                    </div>
                    <div class="vacancy_info">
                        <div class="date left_vacancy_part">
                            <p>Дата публикации: {{this._date}}</p>
                        </div>
                        <div class="btns">
                            <div class="vacancy_submit">
                                <a href="/vacancy/{{this.id}}">Откликнуться</a>
                            </div>
                        </div>
                    </div>
                </div> 
            {{/each}}
        {{/if}}
        
    </div>
</div>