<div class="page vacancy">
    <div class="page_content">
        <div class="page_header back_link">
            <a href="/">< На главную</a>
        </div>
        <div class="each_vacancy">
            <div class="vacancy_info">
                <div class="title left_vacancy_part">
                    <h3>{{news_info.title}}</h3>
                </div>
                <div class="price">
                </div>
            </div>
            
            <div class="vacancy_info">
                <div class="each_vacancy_desceiption_text left_vacancy_part">
                    {{#each news_info.news_description}}
                        <p>{{this}}</p>
                    {{/each}}
                </div>
            </div>

            {{#if is_null_imgs_paths}}
                <div class="vacancy_info img_slider" style="display: none;">
                </div>
            {{else}}
                {{#if count_1}}
                    <div class="vacancy_info img_slider">
                        <div class="main_img count_1">
                            <img src="{{img_block.main_img}}" alt="" id="main_img">
                        </div>
                    </div>
                {{else}}
                    {{#if count_2}}
                        <div class="vacancy_info img_slider_main">
                            <div class="arrow hiden">
                                <img src="/static/img/left.png" alt="" onclick="show_prev()">
                            </div>
                            <div class="sliger_body" style="width: 100%;">
                                {{#each img_block.imgs}}
                                    <img src="{{this}}" alt="" onclick="show_img(this)">
                                {{/each}}
                            </div>
                            <div class="arrow hiden">
                                <img src="/static/img/right.png" style="float: right;" alt="" onclick="show_next()">
                            </div>
                        </div>
                    {{else}}
                        <div class="vacancy_info img_slider_main">
                            <div class="arrow">
                                <img src="/static/img/left.png" alt="" onclick="show_prev()">
                            </div>
                            <div class="sliger_body">
                                {{#each img_block.imgs}}
                                    <img src="{{this}}" alt="" onclick="show_img(this)">
                                {{/each}}
                            </div>
                            <div class="arrow">
                                <img src="/static/img/right.png" style="float: right;" alt="" onclick="show_next()">
                            </div>
                        </div>
                    {{/if}}
                {{/if}}
            {{/if}}
            

            <div class="vacancy_info">
                <div class="date left_vacancy_part">
                    <p>Дата публикации: {{news_info._date}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/vacancy.js"></script>