
    <div class="page_header profile">
        <h2>Обратная связь</h2>
    </div>

    <div class="page">
        <form class="left_menu">
            <div class="profile_menu_each">
                <a href="/profile_personal_data/{{user_id}}">Профиль</a>
            </div>
            <div class="profile_menu_each selected">
                <a href="/profile_contacts/{{user_id}}">Обратная связь</a>
            </div>
            <div class="profile_menu_each">
                <a href="/profile_favorites/{{user_id}}">Избранное</a>
            </div>
            <div class="profile_menu_each">
                <a href="/profile_answers/{{user_id}}">Мои отклики</a>
            </div>
        </form>
        <div class="page_content">
            <div class="page_content_profile_container">
                <div class="profile_container_form">
                    <form action="/profile_contacts_edit/{{user_info.id}}" method="post">
                        <label for="">Номер телефона для обратной связи</label>
                        <input name="phone" type="text" placeholder="Номер телефона для обратной связи" value="{{user_info.phone}}">
                        <label for="">Номер whatsapp</label>
                        <input name="whatsapp_numb" type="text" placeholder="Номер whatsapp" value="{{user_info.whatsapp_numb}}">
                        <label for="">Номер viber</label>
                        <input name="viber_numb" type="text" placeholder="Номер viber" value="{{user_info.viber_numb}}">
                        <label for="">Номер telegram</label>
                        <input name="telegram_numb" type="text" placeholder="Номер telegram" value="{{user_info.telegram_numb}}">
                        <button type="submit">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

