<div class="page_header back_link">
    <a href="/">< К списку проектов</a>
</div>

<div class="page vacancy">
    <div class="page_content">
        <div class="each_vacancy">
            <div class="vacancy_info">
                <div class="title left_vacancy_part">
                    <h3>{{vacancy_info.vacancy_title}}</h3>
                </div>
                <div class="price">
                </div>
            </div>
            <div class="vacancy_info">
                <div class="left_vacancy_part">
                    <div class="short_description">
                        <div class="short_description_row">
                            <p><span>Зарплата работника</span> - {{vacancy_info.vacancy_price}} Z&#322;/мес</p>
                        </div>
                        <div class="short_description_row">
                            <p><span>Воевудство</span> - {{vacancy_info.voivodeship}}</p>
                        </div>
                        <div class="short_description_row">
                            <p><span>Город</span> - {{vacancy_info.city}}</p>
                        </div>
                        <div class="short_description_row">
                            <p><span>График</span> - {{vacancy_info.work_type}}</p>
                        </div>
                        <div class="short_description_row">
                            <p><span>Специальность</span> - {{vacancy_info.speciality}}</p>
                        </div>
                    </div>
                </div>
                {{#if is_null_logo}}
                    <div class="com_logo" style="display: none;">
                        <img src="/static/img/test_com_logo.png" alt="">
                    </div>
                {{else}}
                    <div class="com_logo">
                        <img src="{{vacancy_info.company_logo}}" alt="">
                    </div>
                {{/if}}
                
            </div>
            
            <div class="vacancy_info">
                <div class="each_vacancy_desceiption_text left_vacancy_part">
                    {{#each vacancy_info.vacancy_description}}
                        <p>{{this}}</p>
                    {{/each}}
                </div>
            </div>

            {{#if is_null_work_place_imgs}}
                <div class="vacancy_info img_slider" style="display: none;">
                </div>
            {{else}}
                {{#if count_6}}
                    <div class="vacancy_info img_slider">
                        <div class="img_row">
                            <div class="main_img">
                                <img src="{{img_block.main_img}}" alt="" id="main_img">
                            </div>
                            <div class="right_alingn_imgs">
                                {{#each img_block.sec_block}}
                                    <img src="{{this}}" alt="" onclick="change_main_img(this)">
                                {{/each}}
                            </div>
                        </div>
                        <div class="img_row">
                            {{#each img_block.thid_block}}
                                <img src="{{this}}" alt="" onclick="change_main_img(this)">
                            {{/each}}
                        </div>
                    </div>
                {{else}}
                    {{#if count_5}}
                        <div class="vacancy_info img_slider">
                            <div class="img_row count_5">
                                <div class="right_alingn_imgs">
                                    {{#each img_block.sec_block}}
                                        <img src="{{this}}" alt="" onclick="change_main_img(this)">
                                    {{/each}}
                                </div>
                            </div>
                            <div class="img_row">
                                {{#each img_block.thid_block}}
                                    <img src="{{this}}" alt="" onclick="change_main_img(this)">
                                {{/each}}
                            </div>
                        </div>
                    {{else}}
                        {{#if count_4}}
                            <div class="vacancy_info img_slider">
                                <div class="img_row">
                                    {{#each img_block.thid_block}}
                                        <img src="{{this}}" alt="" onclick="change_main_img(this)">
                                    {{/each}}
                                </div>
                                <div class="img_row count_4">
                                    <div class="main_img">
                                        <img src="{{img_block.main_img}}" alt="" id="main_img">
                                    </div>
                                </div>
                            </div>
                        {{else}}
                            {{#if count_3}}
                                <div class="vacancy_info img_slider">
                                    <div class="img_row">
                                        <div class="main_img">
                                            <img src="{{img_block.main_img}}" alt="" id="main_img">
                                        </div>
                                        <div class="right_alingn_imgs">
                                            {{#each img_block.sec_block}}
                                                <img src="{{this}}" alt="" onclick="change_main_img(this)">
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            {{else}}
                                {{#if count_2}}
                                    <div class="vacancy_info img_slider">
                                        <div class="img_row count_2">
                                            {{#each img_block.thid_block}}
                                                <img src="{{this}}" alt="" onclick="change_main_img(this)">
                                            {{/each}}
                                        </div>
                                    </div>
                                {{else}}
                                    {{#if count_1}}
                                        <div class="vacancy_info img_slider">
                                            <div class="main_img count_1">
                                                <img src="{{img_block.main_img}}" alt="" id="main_img">
                                            </div>
                                        </div>
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/if}}
            

            <div class="vacancy_info">
                <div class="date left_vacancy_part">
                    <p>Дата публикации: {{vacancy_info._date}}</p>
                </div>
                <div class="btns {{#if is_responsed}}
                        responsed
                    {{/if}}">
                    {{#if is_fav}}
                        <div class="heart active" onclick="choose_favorites(this, {{vacancy_info.id}})">
                            <img src="/static/img/active_heart.png" alt="">
                        </div>
                    {{else}}
                        <div class="heart unactive" onclick="choose_favorites(this, {{vacancy_info.id}})">
                            <img src="/static/img/unactive_heart.png" alt="">
                        </div>
                    {{/if}}
                    {{#if is_responsed}}
                        <div class="vacancy_submit" style="display: none;">
                            <a>Откликнуться</a>
                        </div>
                    {{else}}
                        <div class="vacancy_submit" onclick="create_response(this, {{vacancy_info.id}})">
                            <a>Откликнуться</a>
                        </div>
                    {{/if}}
                    
                </div>
            </div>
        </div>
    </div>
</div>